# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and reports
*.log
*.csv

# OS files
.DS_Store
Thumbs.db

# Joblib model files
*.pkl
